src/main/Resources/students.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EMPLOYEE">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="ID"/>
                <xs:element type="xs:string" name="FIRST_NAME"/>
                <xs:element type="xs:string" name="LAST_NAME"/>
                <xs:element type="xs:short" name="STAT_CD"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>


